.hidden
{
	display: none;
}

body 
{
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #FFF;
  text-align: center;
}

#container
{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.mainHeader, .hero, .galleryPhotos1, .galleryPhotos2, .learnMore, .desc
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.nav
{
	margin-top: 20px;
	width: 250px;
	height: 50px;
	background-color: #000;
	margin-right: 10px;
}

.login
{
	height: 50px;
	width: 100px;
	margin-top: 20px;
	background-color: #000;
	margin-left: auto;
}

.spacer
{
	background-color: #000;
	height: 5px;
	margin-bottom: 20px;
}

.welcomeText
{
	height: 50px;
	width: 200px;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
}

.heroImage
{
	height: 200px;
	background-color: #000;
	margin-bottom: 20px;
}

.heroText
{
	height: 300px;
	background-color: #000;
	margin-bottom: 20px;
}

.photo1
{
	height: 175px;
	width: 495px;
	background-color: #000;
	margin-right: 5px;
}

.photo2
{
	height: 175px;
	width: 495px;
	background-color: #000;
	margin-left: 5px;
}

.galleryPhotos1
{
	margin-bottom: 20px;
}

.photo3
{
	height: 175px;
	width: 495px;
	background-color: #000;
	margin-right: 5px;
}

.photo4
{
	height: 175px;
	width: 495px;
	background-color: #000;
	margin-left: 5px;
}


.learnMoreText
{
	height: 50px;
	width: 200px;
	background-color: #000;
	margin-right: auto;
	margin-left: 10px;
}

.learnMoreDesc
{
	width: 850px;
	height: 200px;
	background-color: #000;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (min-width: 650px) {

	.spacer
	{
		display: none;
	}

	.nav
	{
		width: 475px;
		height: 50px;
	}

	.login
	{
		height: 50px;
		width: 150px;
	}

	.heroImage
	{
		height: 300px;
	}

	.heroText
	{
		height: 195px;
	}

	.photo1, .photo2, .photo3, .photo4
	{
		height: 285px;
	}

	.learnMoreDesc
	{
		height: 100px;
	}
}